@font-face {
  font-family: 'Gordita';
  src: local('Gordita Light'), local('Gordita-Light'),
    url('Gordita-Light.woff2') format('woff2'), url('Gordita-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  src: local('Gordita Medium'), local('Gordita-Medium'),
    url('Gordita-Medium.woff2') format('woff2'), url('Gordita-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  src: local('Gordita Regular'), local('Gordita-Regular'),
    url('Gordita-Regular.woff2') format('woff2'), url('Gordita-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  color: rgb(255, 255, 255);
  background-color: #0b0c17;
}

body {
  margin: 0;
  font-family: 'Gordita', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  user-select: none;
}

* {
  outline: none;
  box-sizing: border-box;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock-desc {
  font-weight: 600;
  font-size: 13px;
  display: flex;
  align-items: center;
  opacity: 0.8;
  margin-left: 5px;
  display: none;
}

.clock-desc i {
  color: #ffa900;
  font-size: 22px;
  margin-right: 5px;
}

.clock-time {
  display: flex;
  align-items: center;
}

.clock-time-frag {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
}

.clock-time-frag-number {
  font-size: 22px;
  font-weight: 700;
  color: #ffa900;
}

.clock-time-separator {
  font-weight: 700;
  color: #ffffff;
  opacity: 0.7;
  font-size: 20px;
  padding: 0 30px;
}

.clock-time-frag-desc {
  color: #ffffff;
  opacity: 0.7;
  font-size: 13px;
}

@media (max-width: 768px) {
  .clock-time-frag {
    width: 20px;
  }

  .clock-time-frag-number {
    font-size: 16px;
  }

  .clock-time-separator {
    padding: 0 15px;
    font-size: 14px;
  }

  .clock-time-frag-desc {
    font-size: 11px;
  }
}

iframe {
  display: none;
}
